<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Share-story</title>
    <link rel="stylesheet" href="story.css" />
  </head>
  <body>
    <h1>Share Story</h1>
    <h2>The Time Traveler's Dilemma</h2>
    <p>In the bustling city of Metropolis, a brilliant scientist named Dr. Alexander Hartman had devoted his life to inventing a time machine. After years of tireless work, he finally succeeded in constructing the world's first functional time-travel device. Excitement and trepidation filled his heart as he prepared to embark on a journey that no one had ever undertaken before.</p>
    <div id="img-center">
       <img src="https://source.unsplash.com/random/300x300?girl" />
    </div>
    <p>One fateful evening, Dr. Hartman activated the time machine and found himself transported to a distant era - the medieval age. Astonished by the sight of knights and castles, he marveled at the historical significance of his invention. However, as he attempted to return to his present, he encountered an unexpected problem. The time machine malfunctioned, leaving him stranded in the past.</p>
    <div id="img-center">
       <img src="https://source.unsplash.com/random/300x300?woman" />
    </div>
    <p>Facing the realization that he might never return to his own time, Dr. Hartman had to adapt to the medieval ways while desperately trying to repair his invention. As days turned into weeks and weeks into months, he became an integral part of the medieval community, sharing his knowledge and innovations with the people of that era. But with each passing day, the yearning to return to his own time grew stronger, and he faced a difficult decision: to continue his quest to return home or embrace a new life in the past.</p>
    <p>Uploaded On: 2023-6-30 22:5<br />
        <a href="">Report this story</a>
    </p>
    <footer><b>share story</b>  copyright ©2023-2024</footer>
  </body>
</html>
