* {
    margin:0;
    padding:0;
    font-family:Helvetica;
}
h1 {
    text-align:center;
    margin:10px 0%;
}
h2 {
    width:86%;
    padding:2px 2%;
    margin:30px 5% 5px 5%;
}
p {
    width:86%;
    padding:30px 2%;
    margin:10px 5%;
    background-color:#f1f1f1;
    letter-spacing:1px;
    text-align:center;
}
footer {
    text-align:center;
    background-color:black;
    color:white;
    padding:20px 0%;
}
#img-center {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
