
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Share-story</title>
    <link rel="stylesheet" href="story.css" />
  </head>
  <body>
    <h1>Share Story</h1>
    <h2>nn</h2>
    <p>nkh</p>
    <div id="img-center">
       <img src="uploads/202308032337_1.jpg" width="300" alt="Image not found" />
    </div>
    <p>ii</p>
    <div id="img-center">
       <img src="uploads/202308032337_2.jpg" width="300" alt="Image not found" />
    </div>
    <p>bg</p>
    <p>Uploaded On: 2023-08-03 23:37<br />
        <a href="">Report this story</a>
    </p>
    <footer><b>share story</b> copyright ©2023-2024</footer>
  </body>
</html>
