<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Share-story</title>
    <link rel="stylesheet" href="story.css" />
  </head>
  <body>
    <h1>Share Story</h1>
    <h2>The Enchanted Forest</h2>
    <p>Once upon a time, in a faraway land, there existed an enchanted forest shrouded in mystery and magic. The forest was said to be home to all kinds of mystical creatures and hidden treasures, but it was also filled with dangerous challenges for those who dared to enter. Many adventurers had attempted to explore the forest, but only a few had returned, each bearing tales of wonder and peril.</p>
    <div id="img-center">
       <img src="https://source.unsplash.com/random/300x300?woman" />
    </div>
    <p>One day, a brave young woman named Elara decided to embark on a journey to the enchanted forest. She had grown up listening to her grandmother's stories about the magical wonders that lay within, and her heart yearned for adventure and discovery. Armed with a map passed down through generations, Elara set out on her quest, determined to uncover the secrets of the ancient woods and bring honor to her family's legacy.</p>
    <div id="img-center">
       <img src="https://source.unsplash.com/random/300x300?girl" />
    </div>
    <p>As Elara ventured deeper into the forest, she encountered peculiar creatures like glowing fireflies with the ability to guide her through the dense foliage. She faced trials of courage, wit, and compassion, overcoming obstacles that tested her character. Along the way, she befriended a wise old owl named Orlin, who became her trusted companion and advisor. Together, they navigated the enchanting realm, uncovering its ancient history and the true purpose of the forest's magic. Will Elara's journey lead her to the heart of the forest, where the greatest secret of all awaits? Only time will tell as she continues her thrilling odyssey through The Enchanted Forest.</p>
    <p>Uploaded On: 2023-6-30 22:8<br />
        <a href="">Report this story</a>
    </p>
    <footer><b>share story</b>  copyright ©2023-2024</footer>
  </body>
</html>
